.counter__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.counter__label:after {
	content: " ...................................................................................";
}