@import url('_default/tasks__item_default.css');
@import url('_done/tasks__item_done.css');

.tasks__item {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: 30px;
    /*height: auto;*/
    width: 100%;
    padding: 5px;
}

.item__checkbox {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}