@import url('__button/form__button.css');
@import url('__input/form__input.css');

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 450px;
}

.form__group {
    display: flex;
    flex-direction: row;
    width: 100%;
}