@import url('form/form.css');
@import url('tasks/tasks.css');
@import url('tabs/tabs.css');

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content__title {
    font-size: 40px;
}