@import url('__form/form.css');
@import url('__tasks/tasks.css');
@import url('__tabs/tabs.css');
@import url('__panel/__content__panel.css');
@import url('__title/content__title.css');
@import url('__pagination/__content__pagination.css');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.content {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 650px;
    height: 800px;
    border: 2px solid darkcyan;
}

