@import url('__form/form.css');
@import url('__tasks/tasks.css');
@import url('__tabs/tabs.css');
@import url('__panel/__content__panel.css');
@import url('__title/content__title.css');

.content {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

