.tasks__item {
    font-size: 20px;
    line-height: 30px;
    height: auto;
}

.tasks__item_done {
    text-decoration: line-through;
    font-style: italic;
}

.tasks__item_default {
    text-decoration: none;
    font-style: normal;
}

/*
Temporary, just because of not correct parsing for text content of items containing X button font to mark close button
*/
.item__delete {
    background-image: url("item_delete_button.png");
}