.tasks__item {
    font-size: 20px;
    line-height: 30px;
    height: auto;
}

.tasks__item_done {
    text-decoration: line-through;
    font-style: italic;
}

.tasks__item_default {
    text-decoration: none;
    font-style: normal;
}