.tasks__list {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 2px solid darkcyan;
    list-style-type: none;
    width: 450px;
    height: 266px;
    padding: 20px;
    margin: 0;
    text-align: center;
}