.tabs__link {
    width: 150px;
    margin: 0 10px;
    /*background-color: darkcyan;*/
    font-size: 20px;
    color: darkcyan;
    line-height: 40px;
    height: auto;
    border: 1px solid darkcyan;
    text-decoration: none;
}

.tabs__link:hover {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid red;
    color: red;
}

.tabs__link:active {
    cursor: pointer;
    text-decoration: none;
}